div.checklist {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    white-space: preserve;
    font-size: 16px;
    align-items: baseline;
    grid-column: 3;
    grid-row: 1 / 4;
}

pre.code {
  padding: 8px;
  background: #0F0F0F;
  border-radius: 8px;
  border: 1px solid #1F1F1F;
  width: fit-content;
}

div.checklist>ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}