@font-face {
    font-family: 'Linux Libertine Mono O';
    src: url('LinLibertineMO.woff2') format('woff2'),
        url('LinLibertineMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine Display O';
    src: url('LinLibertineDisplayO.woff2') format('woff2'),
        url('LinLibertineDisplayO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine Initials O';
    src: url('LinLibertineIO.woff2') format('woff2'),
        url('LinLibertineIO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine O';
    src: url('LinLibertineO.woff2') format('woff2'),
        url('LinLibertineO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine O';
    src: url('LinLibertineOB.woff2') format('woff2'),
        url('LinLibertineOB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine O';
    src: url('LinLibertineOBI.woff2') format('woff2'),
        url('LinLibertineOBI.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine O';
    src: url('LinLibertineOI.woff2') format('woff2'),
        url('LinLibertineOI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine O';
    src: url('LinLibertineOZ.woff2') format('woff2'),
        url('LinLibertineOZ.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine O';
    src: url('LinLibertineOZI.woff2') format('woff2'),
        url('LinLibertineOZI.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

