@import url("https://cdn.jsdelivr.net/gh/DeadCodeGames/DeadCodeGames.github.io@main/fonts/Uni%20Sans/stylesheet.css");

.deadcode {
    font-family: "Uni Sans CAPS";
    font-weight: bold;
}

a {
    all: unset;
    cursor: pointer;
    margin: 2.5px;
    text-decoration: underline;
}

span.x {
    font-weight: bold;
}